body {
    background: url("images/1.jpg") no-repeat;
    background-size: 100%;
    font-family: Game, serif;
    color: rgba(159,249,149,1);
    text-shadow:2px 2px 4px  rgba(159,249,149,1)    , 0 -1px 3px rgb(223, 255, 155);
}
.PC {
    background: url("images/2.jpg") no-repeat;
    background-size: 100%;
    position:relative;
    width:95%;
    height:880px;
    padding:2em;
    margin:0 auto;
    border-radius:50% 50% 50% 50% / 50px 50px 50px 50px;
    box-shadow:0 0 20px 10px #000;
    opacity: 0.8;
  }
.display {
    position:relative;
    width:98%;
    background-color: rgba(88, 131, 85, 1);
    height:97%;
    padding:1em;
    margin:0 auto;
    box-shadow:0 0 40px 0 rgb(133, 193, 128);
    border-radius:50% 50% 50% 50% / 50px 50px 50px 50px;
    opacity: 1;
}
.loader {
    padding: 40px 0 0 0;
}
.icon {
    width: 50px;
    height: 50px;
}