body {
    background: url("1.jpg") no-repeat;
    background-size: 100%;
}
.PC {
    background: url("2.jpg") no-repeat;
    background-size: 100%;
    position:relative;
    width:95%;
    height:880px;
    padding:2em;
    margin:0 auto;
    border-radius:50% 50% 50% 50% / 50px 50px 50px 50px;
    box-shadow:0 0 20px 10px #000;
    opacity: 0.8;
  }
.display {
    position:relative;
    width:98%;
    background-color: rgba(88, 131, 85, 1);
    height:97%;
    padding:1em;
    margin:0 auto;
    box-shadow:0px 0 40px 0 rgb(133, 193, 128);
    border-radius:50% 50% 50% 50% / 50px 50px 50px 50px;
    opacity: 1;
}
h3{
    font-family: Game;
    color: rgba(159,249,149,1);
    padding: 20px 0 0 10px;
}